{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food Item</title>
    <link rel="stylesheet" href="{% static 'css/menu/add-food.css' %}">
</head>
<body>
    <div class="container">
        <h1>Add a New Food Item to {{ menus_slug }}</h1>
        <p>Menu managed by: {{ username }}</p>

        <!-- Form -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-save">Save</button>
        </form>
    </div>
</body>
</html>