
{% load static %}

{% block content %}

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food Item</title>
    <link rel="stylesheet" href="{% static 'css/food_style.css' %}">

</head>
<body>
    <div class="container">
        <h1>Add Food Item</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Add Food Item</button>
        </form>
        <!-- Button to redirect to the restaurant menu -->
        <a href="{% url 'restaurant-menu' restaurant.id %}" class="btn">View Menu</a>

        <a href="{% url 'restaurant-list' %}" class="btn-secondary">Back to Restaurant List</a>
    </div>
</body>
</html>


{% endblock %}
