{% extends 'common/../common/nav.html' %}
{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food Item</title>
    <link rel="stylesheet" href="{% static 'css/food_style.css' %}">
</head>
<body>
    {% include 'common/../common/nav.html' %} <!-- Navigation Bar -->
    <div class="container">
        <h1>Edit {{ food_item.name }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Save Changes</button>
        </form>
        <a href="{% url 'details-food' username=food_item.restaurant.user.username menus_slug=food_item.slug %}" class="btn-secondary">Cancel</a>
    </div>
</body>

{% endblock %}
