
{% load static %}

{% block content %}
    <head>

        <link rel="stylesheet" href="{% static 'css/account/profile_details.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile Details</title>
    </head>
    <body>

    <div class="container">
        <div class="profile-details">
            <h1>Profile Details</h1>

            <!-- Display Profile Picture -->
            {% if object.profile.profile_picture %}
                <img src="{{ object.profile.profile_picture }}" alt="Profile Picture"
                     style="width: 150px; height: 150px; border-radius: 50%;">
            {% else %}
                <p>No profile picture available.</p>
            {% endif %}

            <!-- Display First Name -->
            <p><strong>First Name:</strong> {{ object.profile.first_name }}</p>

            <!-- Display Last Name -->
            <p><strong>Last Name:</strong> {{ object.profile.last_name }}</p>

            <!-- Display Date of Birth -->
            <p><strong>Date of Birth:</strong> {{ object.profile.date_of_birth|date:"F j, Y" }}</p>

            <!-- Buttons -->
            <div class="buttons">
                {% if request.user.pk == object.pk %}
                    <!-- Edit Profile Button -->
                    <a href="{% url 'profile-edit' object.pk %}" class="btn btn-primary">Edit Profile</a>

                    <!-- Delete Profile Button -->
                    <a href="{% url 'profile-delete' object.pk %}" class="btn btn-danger" style="margin-left: 10px;">Delete
                        Profile</a>
                {% endif %}
                <!-- Home Button -->
                <a href="{% url 'home' %}" class="btn btn-secondary" style="margin-left: 10px;">Home</a>
            </div>
        </div>
    </div>
    </body>

{% endblock %}

