{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ email_username }}'s Profile</title>
        <link rel="stylesheet" href="{% static 'css/account/profile_details.css' %}">
    </head>
    <body>
    <div class="container">
        <h1>{{ email_username }}'s Profile</h1>

        <!-- Profile Picture -->
        {% if profile.profile_picture %}
            <div class="profile-picture">
                <img src="{{ profile.profile_picture }}" alt="Profile Picture of {{ profile.user.username }}">
            </div>
        {% else %}
            <div class="no-picture">
                <p>No profile picture available.</p>
            </div>
        {% endif %}

        <!-- Profile Information -->
        <div class="profile-info">
            <p><strong>First Name:</strong> {{ profile.first_name }}</p>
            <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
            <p><strong>Date of Birth:</strong> {{ profile.date_of_birth|date:"F d, Y"|default:"Not provided" }}</p>
        </div>

        <!-- Buttons -->
        <div class="button-container">
            <a href="{% url 'profile-edit' request.user.pk %}" class="btn-edit">Edit Profile</a>
            <a href="{% url 'home' %}" class="btn-back">Back to Home</a>
        </div>
    </div>
    </body>


{% endblock %}