
{% load static %}
{% include 'common/nav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants List</title>
    <link rel="stylesheet" href="{% static 'css/restaurant/restaurants_list.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Restaurants List</h1>
            <a href="{% url 'restaurant-create' %}" class="btn btn-primary">Create New Restaurant</a>
        </div>
        <div id="restaurant-list">
            {% for restaurant in restaurants %}
                <div class="restaurant-bubble">
                    <a href="{% url 'restaurant-detail' restaurant.id %}" class="restaurant-link">
                        <div class="restaurant-image-container">
                            {% if restaurant.image %}
                                <img src="{{ restaurant.image }}" alt="{{ restaurant.name }}" class="restaurant-image">
                            {% else %}
                                <div class="no-image">No Image Available</div>
                            {% endif %}
                        </div>
                        <div class="restaurant-info">
                            <h2 class="restaurant-name">{{ restaurant.name }}</h2>
                            <p class="restaurant-location">{{ restaurant.location.address }}, {{ restaurant.location.city }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

{% endblock %}

