{% load static %}
{% include 'common/nav.html' %}
{% block content %}
<!-- Navigation at the top -->


<!-- Header Section -->
<header>
    <link rel="stylesheet" href="{% static 'css/common/home_page.css' %}">
    <div class="header-container">
        <h1><a href="{% url 'home_page' %}">Restaurant Guide</a></h1>
        <p>Welcome to the restaurant guide of Switzerland</p>
    </div>
</header>

<!-- Main Content Section -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/main_page_backgrownd.webp' %}" alt="Description of the image">

            </div>
        </div>
    </div>
    <div class="container">
        <h2>Be ready for the best menu experience with menu3</h2>
                <h3>Here you can find all local menus </h3>
        
    </div>
</main>

<!-- Footer Section -->
<footer>
    <p>&copy; 2024 Restaurant Guide. All Rights Reserved.</p>
</footer>
{% endblock %}
