<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Add your CSS file -->
</head>
<body>
    <!-- Navigation Bar -->
    {% include 'common/../common/nav.html' %}

    <!-- Welcome Message -->
    <div style="text-align: center; margin-top: 50px;">
        <h1 style="font-size: 3em;">Welcome to MenuS {{ user }}</h1>
    </div>

    <!-- Add additional content below -->
    <footer style="text-align: center; margin-top: 100px;">
        <p>&copy; 2024 Restaurant Guide. All Rights Reserved.</p>
    </footer>
</body>
</html>
