{% include 'common/nav.html' %}
{% load static %}

{% block content %}
<header>
    <link rel="stylesheet" href="{% static 'css/common/home_page.css' %}">
    <div class="header-container">
        <h1>.</h1>
        <h1>Restaurant Guide</h1>
        <p>Welcome to the restaurant guide of Switzerland</p>
    </div>
</header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/main_page_backgrownd.webp' %}" alt="Scenic background" class="main-image">
            </div>
        </div>
        <div class="text-container">
            <h2>Be ready for the best menu experience with Menu3</h2>
            <h3>Here you can find all local menus</h3>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 Restaurant Guide. All Rights Reserved.</p>
</footer>
{% endblock %}
