{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Location</title>
    <link rel="stylesheet" href="{% static 'css/locations/location-create.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create a New Location</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{% url 'restaurant-create' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
